.container {
  width: 99%;
}

.input-field label {
  top: 0.5rem;
}

[type="checkbox"]:checked + label:before {
  border-bottom: 2px solid #2196f3;
  border-right: 2px solid #2196f3;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196f3;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

.text--selected {
  color: #2196f3;
}

.margin--top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
.padding-sides--15 {
  padding-right: 15px;
  padding-left: 15px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #aaa;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #aaa;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
.margin-top {
  margin-top: 20px;
}

.btn-disabled {
  box-shadow: none;
  color: #FFF;
  cursor: default;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #444;
  position: absolute;
}

.json-output {
  height: 45px;
}

textarea {
  width: 88%;
  resize: none;
}

.hidden {
  display: none;
}

#details {
  color: #666;
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (max-width : 700px) {
  .country-name {
    font-size: 10px !important;
  }
  [type="checkbox"] + label {
    padding-left: 25px;
  }
  .country-column {
    width: 30% !important;
  }
}
