<!DOCTYPE html>
<html>
<head>
	<title>Untranslatr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
	<meta name="theme-color" content="#2196F3">
	<meta charset="UTF-8">
	<meta name="description" content="Translate from multiple languages at once">
	<meta name="author" content="Baptiste Fontaine">

	<link rel="stylesheet" href="{{ url_for("static", filename="css/vendor/materialize.min.css") }}">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}">
</head>
<body ng-app="translatr">
	<div class="container" ng-controller="translatrController">
		<div class="row">
			<div class="col s12 m4 l3" style="background: #F5F5F5;">
				<h3 class="center  blue white-text">Untranslatr</h3>
				<div id="details">
          <p>Untranslatr is a fork of
          <a href="http://translatr.varunmalhotra.xyz/" rel="external">Translatr</a>
          that does the opposite of it: instead of translating a piece of text
          from one language to multiple ones, it translate that same piece of text
          from multiple languages into one: English.</p>
          <p>The source code is hosted on <a href="https://github.com/bfontaine/untranslatr">GitHub</a>.</p>
        </div>
      </div>
			<div class="col s12 m8 l9">
				<form ng-cloak ng-submit="validateAndTranslate()">
					<h4 class="center" style="color:#777;">Translate from multiple languages at once</h4>
					<div style="margin-top:25px;">
						<strong class="blue-text" style="margin-bottom:5px;font-size:24px;">Enter Text</strong>
						<div class="row">
							<div class="input-field col s12">
								<textarea id="text" class="materialize-textarea" name="text" ng-model="userText"></textarea>
								<label for="text">Enter your text here</label>
							</div>
						</div>
					</div>

          {# Turn off jinja2 templating here #}
					{% raw %}
					<div style="border: 1px solid #ddd;">
						<div class="collapsible-header" ng-click="settings.isLangUagePanelExpandable = !settings.isLangUagePanelExpandable;">
							<strong class="blue-text" style="margin-bottom:5px;font-size:24px;">Select Languages</strong>
							<a style="float: right;" ng-click="selectAll($event, isSelectAllClicked)">
								{{ isSelectAllClicked ? 'Unselect all' : 'Select all' }}
							</a>
							<span ng-class="{'arrow-up': settings.isLangUagePanelExpandable,'arrow-down': !settings.isLangUagePanelExpandable}"></span>
						</div>

						<div class="row  margin--top  padding-sides--15" ng-class="{'hidden': !settings.isLangUagePanelExpandable}">
							<div class="col s12" style="margin-left:10px;">
								<input id="search" type="search" ng-model="search" placeholder="Search languages..." style="text-align: center;" title="Filter the languages">
		        				<label for="search"></label>
		        			</div>

							<div ng-repeat="(localeName, localeValue) in filteredLocales" class="col  country-column" style="margin-top:5px;width: 20%;">
								<input type="checkbox" id="{{ localeName }}" ng-model="settings.selectedLocales[localeName]"/>
								<label for="{{ localeName }}" class="country-name" ng-class="{'text--selected': settings.selectedLocales[localeName]}">{{ localeValue }}</label>
							</div>
						</div>
					</div>

					<div class="center margin-top margin-bottom">
						<div class="text-lighten-1" stly="display:block" ng-class="{'red-text': !isPositive, 'blue-text': isPositive }">{{ errorText }}</div>
						<br />
				{% endraw %}
						<div class="loader  hidden" style="text-align:center;">
							<div class="preloader-wrapper big active">
								<div class="spinner-layer spinner-blue-only">
									<div class="circle-clipper left">
										<div class="circle"></div>
									</div>
									<div class="gap-patch">
										<div class="circle"></div>
									</div>
									<div class="circle-clipper right">
										<div class="circle"></div>
									</div>
								</div>
							</div>
						</div>
						<button class="btn waves-effect waves-light blue" type="submit" name="action" ng-class="{'btn-disabled  lighten-3': isFetchingData}" ng-disabled="isFetchingData">
							Submit
						</button>
					</div>
				</form>

				<h5 ng-cloak ng-show="translatedText" class="blue-text  text-lighten-1" style="margin-top:15px;border-bottom: 1px solid #ccc;">
					Translated strings for the selected languages:
				</h5>
        {% raw %}
				<div ng-cloak ng-show="translatedText && Object.keys(translatedText).length" style="background: #EEE; padding: 10px;">
					<div id="output" ng-repeat="(locale, translatedString) in translatedText" class="margin-top">
						<strong>{{ locales[locale] }}: </strong>
						<span ng-click="highlightTranslatedString(locale)" id="selectedText-{{ locale }}">{{ translatedString }}</span>
					</div>
				</div>
				{% endraw %}
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ url_for("static", filename="js/vendor/jquery-2.1.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/vendor/materialize-waves.js") }}"></script>

	<script type="text/javascript" src="{{ url_for("static", filename="js/vendor/angular-1.4.min.js") }}"></script>

	<script type="text/javascript" src="{{ url_for("static", filename="js/app.js") }}"></script>
</body>
</html>
